<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Public/home.css">
</head>
<body>
    <h2>Home</h2>
    <p>As You Are In This Page So This Form Is Working Properly.
        Thanks For Using , We Will Add Additional Features To It Later!!!!!!!!!!!!!!
    </p>
   <div class="imgg"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfvmOGKE3czkvKvEk-IXuUWvPGSqz78OnhUkZG9OXyalk4416Bs-nnBOOh0QTtNCh-DXIWQxEmrKg&usqp=CAU&ec=48600112" alt="Thanks"></div> 
<h1></h1>
  <div class="logout"><a href="signup">logout</a></div>  


</body>
<style>
     h2{
          text-align: center;
        padding: 10px;
        margin:20px;
    
        font-size: large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
        border: 15px solid aqua;
        border-radius: 10px;
    }
     body{
        background-color: antiquewhite;
    }

    p{
        text-align: center;
        padding: 30px;
        margin:20px;

    }

    .imgg{
        text-align: center;
    }
    .logout{
        text-align: center;
    }
    a:hover{
        background-color: aliceblue;

    }
</style>

</html>