<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div class="heading"><h2>Log In</h2>
    </div>

<div class="forrm"><form action="/login"method="post">

<input type="text" name="name" placeholder="name">
<input type="password" name ="password" placeholder="password">
<input type="submit" class="hov" ></div>

</form></div>
<div class="newac"><a href="/signup">Create A New Account</a></div></div>



</body>
<style>
    .heading{
        text-align: center;
        padding: 20px;
        margin:30px;
    
        font-size: large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
        border: 25px solid aqua;
        border-radius: 20px;
    }

    .forrm{
        text-align: center;
        padding-top: 60px;
        padding-bottom: 50px;
    }
    .newac{
        text-align: center;
    }
    body{
        background-color: antiquewhite;
    }
    .hov:hover{
        background-color:red;
    }
    a:hover{
background-color: burlywood;
border-radius: 30px;
    }
</style>
</html>