<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Public/signup.css">
</head>
<body>
 <div class="heads"><h2>Sign Up</h2></div>   

<div class="forrm"><form action="/signup"method="post">

<input type="text" name="name" placeholder="name">
<input type="password" name ="password" placeholder="password">
<input type="submit" class="hov" >
</div>

</form></div>


</body>
<style>
    .heads{
         text-align: center;
        padding: 20px;
        margin:30px;
    
        font-size: large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
        border: 25px solid aqua;
        border-radius: 20px;
        
    }
    body{
        background-color: antiquewhite;
    }
    
    .forrm{
        text-align: center;
        padding-top: 60px;
        padding-bottom: 50px;
    }
     .hov:hover{
        background-color:red;
    }
</style>
</html>