<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WRONG PASSWORD</h1>
  <div class="backs"> <a href="/signup">Back</a></div>
  </body>
</body>
<style>
    body{
           text-align: center;
        padding: 10px;
        margin:20px;
    background-color: antiquewhite;
        font-size: large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
        border: 15px solid aqua;
        border-radius: 10px;
    }
    h1{
        text-align: center;
    }

    a:hover{
        background-color:whitesmoke;
        border-radius: 20px;
    }
    .backs{
        text-align: center;
    }
</style>
</html>